<template>
  <div
    class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center items-center sm:py-12"
  >
    <div class="bg-white shadow-lg rounded-3xl p-10">
      <div v-for="(reason, i) in reasons" :key="i">
        <input
          class="my-2"
          type="checkbox"
          :id="reason.code"
          :value="reason.code"
          v-model="selectedreasons"
        />
        <label :for="reason.code">{{ reason.label }}</label>
      </div>
    </div>
    <div
      @click="download"
      class="bg-white shadow-lg rounded-3xl p-10 cursor-pointer mt-4 w-48 text-center text-uppercase font-bold"
    >
      Télécharger
    </div>
  </div>
</template>

<script>
import userData from "~/conf/user-data";
export default {
  data() {
    return {
      reasons: [
        {
          code: "travail",
          label: "Déplacements Pro",
        },
        {
          code: "achats",
          label: "Déplacements achats",
        },
        {
          code: "sante",
          label: "Consultations et soins ",
        },
        {
          code: "famille",
          label: "Déplacements famille ",
        },
        {
          code: "handicap",
          label: "Déplacements des personnes en situation de handicap",
        },
        {
          code: "sport_animaux",
          label: "Déplacements brefs,",
        },
        {
          code: "convocation",
          label: " Convocation judiciaire ou administrative",
        },
        {
          code: "missions",
          label: " Participation à des missions d'intérêt général",
        },
        {
          code: "enfants",
          label: "Déplacement pour chercher les enfants à l’école ",
        },
      ],
      selectedreasons: ["achats"],
    };
  },
  computed: {
    getProfile() {
      const creationInstant = new Date();
      const creationDate = creationInstant.toLocaleDateString("fr-CA");
      const creationHour = creationInstant
        .toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" })
        .replace(":", "-");

      const formUserData = userData; /*{
        firstname: "Phivan",
        lastname: "Le Guidec",
        birthday: "06/11/1987",
        placeofbirth: "Cayenne",
        address: "71 Avenue de la maladière",
        city: "Villefontaine",
        zipcode: "38090",
        "ox-travail": "travail",
        "ox-achats": "achats",
        "ox-sante": "sante",
        "ox-famille": "famille",
        "ox-handicap": "handicap",
        "ox-sport_animaux": "sport_animaux",
        "ox-convocation": "convocation",
        "ox-missions": "missions",
        "ox-enfants": "enfants",
      };*/

      const profile = {
        ...formUserData,
        ...{ creationDate: creationDate },
        ...{ creationHour: creationHour },
        ...{ datesortie: creationInstant.toLocaleDateString("fr-FR") },
        ...{ heuresortie: creationHour.replace("-", ":") },
      };
      return profile;
    },
  },
  methods: {
    async download() {
      const pdfBlob = await this.$generatePdf(
        this.getProfile,
        this.selectedreasons
      );
      this.$downloadBlob(
        pdfBlob,
        `attestation-${this.getProfile.creationDate}_${this.getProfile.creationHour}.pdf`
      );
    },
  },
};
</script>

<style>
</style>
